<template>
  <div class="micro-app-wrap">
    <div v-for="config in registerConfigs" :id="config.id" :key="config.name" />
  </div>
</template>

<script>
/**
 * 生成微应用宿主容器
 */
export default {
  name: "AppWrap",
  computed: {
    registerConfigs() {
      const configs = this.$store.state.microApp.appInfos
        .filter((m) => !m.__isMain)
        .map((m) => {
          const { container, name } = m.registerConfig;
          return {
            id: container.substring(1),
            name,
          };
        });
      return configs;
    },
  },
};
</script>

<style lang="scss">
.micro-app-wrap {
  position: relative;

  div[data-qiankun] {
    height: calc(100vh - 90px);
    background-color: #fff;
  }

  .sub-app-wrap {
    height: 100%;
  }

  .sub-module-wrap {
    padding: 20px;
    position: relative;
  }
}
</style>