<template>
  <el-scrollbar class="appbar-wrap" wrap-class="scrollbar-wrapper">
    <div class="appbar-list">
      <div
        v-for="app in apps"
        :key="app.code"
        :class="[
          'appbar-item',
          {
            actived: app.code === activeApp,
          },
        ]"
        @click="setApp(app.code)"
      >
        <svg-icon :icon-class="app.icon" />
        <div>\{{ app.name }}</div>
      </div>
    </div>
  </el-scrollbar>
</template>

<script>
/**
 * 子系统导航栏
 */
export default {
  name: "Appbar",
  computed: {
    apps() {
      return this.$store.state.microApp.appInfos;
    },
    activeApp() {
      return this.$store.state.microApp.app;
    },
  },
  watch: {
    // 路由改变时同步子系统
    $route(val) {
      this.setApp(val.meta.appName);
    },
  },
  created() {
    this.setApp(this.$route.meta.appName);
  },
  methods: {
    setApp(appName) {
      this.$store.commit("microApp/SET_APP", appName);
      this.$store.commit("app/SET_SIDEBAR", true);
    },
  },
};
</script>