<template>
  <div class="dashboard-container">
    <el-empty
      :image="bgImage"
      :image-size="600"
      :description="description"
    />
  </div>
</template>

<script>
import settings from "@/settings";

/**
 * 首页
 */
export default {
  name: "Dashboard",
  data() {
    return {
      description: settings.title,
      bgImage: require("@/assets/img/layout/main-bg.png"),
    };
  },
};
</script>

<style lang="scss">
.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>