<template>
  <el-dialog
    title="修改密码"
    width="580px"
    v-bind="$attrs"
    :close-on-click-modal="false"
    append-to-body
    v-on="$listeners"
    @close="cancel"
  >
    <div class="edit-password-wrap">
      <el-alert type="error" :closable="false" class="tip-text">
        <template slot="title">
          <div class="tip-wrapper">
            <i class="el-icon-info" />
            <span>
              提示：密码最少12位，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符（特殊符号为
              ：!@#$%^&*）
            </span>
          </div>
        </template>
      </el-alert>
      <el-form
        ref="passwordForm"
        :model="passwordForm"
        :rules="rules"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="旧密码" prop="oldPassword">
          <el-input v-model="passwordForm.oldPassword" type="password" />
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input v-model="passwordForm.newPassword" type="password" />
        </el-form-item>
        <el-form-item label="确认密码" prop="reNewPassword">
          <el-input v-model="passwordForm.reNewPassword" type="password" />
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" :loading="loading" @click="save">确 定</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { editPassword } from "@/api/user";
import { validPassword } from "@/utils/validate";

export default {
  data() {
    var passwordValidator = (rule, value, callback) => {
      if (!validPassword(value)) {
        callback(new Error("密码不符合规范！"));
      } else {
        callback();
      }
    };
    var equalValidator = (rule, value, callback) => {
      if (value !== this.passwordForm.newPassword) {
        callback(new Error("两次输入密码不一致！"));
      } else {
        callback();
      }
    };
    return {
      loading: false,
      passwordForm: {
        oldPassword: "",
        newPassword: "",
        reNewPassword: "",
      },
      rules: {
        oldPassword: [
          { required: true, message: "填写旧密码", trigger: "blur" },
        ],
        newPassword: [
          { required: true, message: "填写新密码", trigger: "blur" },
          { validator: passwordValidator, trigger: "blur" },
        ],
        reNewPassword: [
          { required: true, message: "再次填写新密码", trigger: "blur" },
          { validator: equalValidator, trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    save() {
      this.$refs.passwordForm.validate((valid) => {
        if (!valid) return;
        const { oldPassword, newPassword } = this.passwordForm;
        this.loading = true;
        editPassword({ oldPass: oldPassword, newPass: newPassword })
          .then(async () => {
            this.$message.success("密码已修改成功，请重新登录!");
            await this.$store.dispatch("user/logout");
            // keep alive模式下微应用没有卸载方法，重新刷新
            location.reload();
           // this.$router.push(`/login?redirect=${this.$route.fullPath}`);
          })
          .finally(() => {
            this.loading = false;
          });
      });
    },
    cancel() {
      this.$refs.passwordForm.resetFields();
      this.$emit("update:visible", false);
    },
  },
};
</script>

<style lang="scss">
.edit-password-wrap {
  .tip-text {
    margin-bottom: 20px;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    color: rgba(0, 0, 0, 0.85);
  }

  .tip-wrapper {
    display: flex;
    align-items: center;

    i,
    span {
      display: inline-block;
    }

    i {
      color: #1890ff;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .dialog-footer {
    text-align: right;
  }
}
</style>