<template>
  <div class="login-container">
    <div class="top-bg">
      <img src="../../assets/img/login/newBg.png" alt>
    </div>
    <div class="main-form">
      <div class="form-title">
        <p>\{{ title }}</p>
      </div>
      <div class="form-item">
        <el-form
          ref="loginForm"
          :model="loginForm"
          :rules="loginRules"
          class="login-form"
          autocomplete="on"
        >
          <p class="form-label">用户名</p>
          <el-form-item prop="loginName">
            <div class="inputContain">
              <div class="svg-container">
                <img src="../../assets/img/login/user.png" alt>
              </div>
              <el-input
                ref="loginName"
                v-model="loginForm.loginName"
                placeholder="请输入您的用户名"
                name="loginName"
                type="text"
                tabindex="1"
                autocomplete="on"
                @keyup.enter.native="handleLogin"
              />
            </div>
          </el-form-item>
          <p class="form-label">登录密码</p>
          <el-form-item prop="passWord">
            <div class="inputContain">
              <div class="svg-container">
                <img src="../../assets/img/login/lock.png" alt>
              </div>
              <el-input
                :key="passWordType"
                ref="passWord"
                v-model="loginForm.passWord"
                :type="passWordType"
                placeholder="请填写密码"
                name="passWord"
                tabindex="2"
                autocomplete="on"
                @keyup.native="checkCapslock"
                @blur="capsTooltip = false"
                @keyup.enter.native="handleLogin"
              />
              <span class="show-pwd" @click="showPwd">
                <svg-icon
                  :icon-class="passWordType === 'passWord' ? 'eye' : 'eye-open'"
                />
              </span>
            </div>
          </el-form-item>
          <p class="form-label">验证码</p>
          <el-form-item prop="verifyCode">
            <div class="inputContain">
              <div class="svg-container">
                <img src="../../assets/img/login/save.png" alt>
              </div>
              <el-input
                ref="verifyCode"
                v-model="loginForm.verifyCode"
                placeholder="请填写验证码"
                name="verifyCode"
                type="text"
                tabindex="3"
                autocomplete="on"
                @keyup.enter.native="handleLogin"
              />
              <el-button
                v-if="!qrcode.flag"
                class="getcodeBtn"
                type="primary"
                @click="changeQrcode"
              >
                获取验证码
              </el-button>
              <el-image
                v-if="qrcode.flag"
                v-loading="qrcode.loading"
                class="img-code"
                :src="qrcode.imgSrc"
                alt
                @click="getCode()"
              />
            </div>
          </el-form-item>
        </el-form>
        <div class="register" @click="handleRegister">还没有账号？点击注册</div>
        <el-button
          class="btn login-btn"
          :loading="loading"
          type="primary"
          @click.native.prevent="handleLogin"
        >
          登录
        </el-button>
      </div>
    </div>
    <div class="foot-copyright">
      <p>东华软件 版权所有</p>
    </div>
  </div>
</template>

<script>
import { getKaptcha } from "@/api/user";
import defaultSettings from "@/settings";

/**
 * 登录模块
 */
export default {
  name: "Login",
  data() {
    return {
      title: defaultSettings.title,
      loginForm: {
        loginName: "",
        passWord: "",
        verifyCode: "",
      },
      loginRules: {
        loginName: [
          { required: true, trigger: "change", message: "请填写用户名" },
        ],
        passWord: [
          { required: true, trigger: "change", message: "请填写密码" },
        ],
        verifyCode: [
          { required: true, trigger: "change", message: "请填写验证码" },
        ],
      },
      loading: false,
      passWordType: "passWord",
      capsTooltip: false,
      qrcode: {
        flag: false,
        loading: false,
        imgSrc: "",
      },
      redirect: undefined,
      otherQuery: {},
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  mounted() {
    if (this.loginForm.loginName === "") {
      this.$refs.loginName.focus();
    } else if (this.loginForm.passWord === "") {
      this.$refs.passWord.focus();
    } else if (this.loginForm.verifyCode === "") {
      this.$refs.verifyCode.focus();
    }
  },
  methods: {
    checkCapslock({ shiftKey, key } = {}) {
      if (key && key.length === 1) {
        if (
          (shiftKey && key >= "a" && key <= "z") ||
          (!shiftKey && key >= "A" && key <= "Z")
        ) {
          this.capsTooltip = true;
        } else {
          this.capsTooltip = false;
        }
      }
      if (key === "CapsLock" && this.capsTooltip === true) {
        this.capsTooltip = false;
      }
    },
    showPwd() {
      if (this.passWordType === "passWord") {
        this.passWordType = "";
      } else {
        this.passWordType = "passWord";
      }
      this.$nextTick(() => {
        this.$refs.passWord.focus();
      });
    },
    changeQrcode() {
      this.qrcode.flag = !this.qrcode.flag;
      this.getCode();
    },
    //获得验证码
    getCode() {
      this.qrcode.loading = true;
      getKaptcha()
        .then((res) => {
          this.qrcode.imgSrc = "data:image/png;base64," + res;
        })
        .finally(() => {
          this.qrcode.loading = false;
        });
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (!valid) return;
        this.loading = true;
        this.$store
          .dispatch("user/login", this.loginForm)
          .then(() => {
            this.$message({
              message: "登录成功，正在跳转...",
              type: "success",
            });
            this.$router.push({
              path: this.redirect || "/",
              query: this.otherQuery,
            });
            this.loading = false;
          })
          .finally(() => {
            this.loading = false;
          });
      });
    },
    handleRegister() {
      this.$router.push({ path: "/register" });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
  },
};
</script>

<style lang="scss">
$bg: #fff;
$dark_gray: #889aa4;
$light_gray: #eee;
$vm_base: 1920;
$vh_base: 1080;
$cursor: #fff;

// 计算vw
@function vw($px) {
  @return ($px / $vm_base) * 100vw;
}

// 计算vh
@function vh($px) {
  @return ($px / $vh_base) * 100vh;
}

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

.login-container {
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  justify-content: center;

  .el-input {
    height: 100%;

    /* reset element-ui css 修改谷歌自动输入框样式 */
    input {
      background: transparent !important;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      height: 100%;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-transition-delay: 99999s;
      -webkit-transition: color 99999s ease-out,
        background-color 99999s ease-out;
    }

    input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: rgb(67, 63, 117);
    }

    input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: rgb(67, 63, 117);
    }

    input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: rgb(67, 63, 117);
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: rgb(67, 63, 117);
    }
  }
  .el-input__inner {
    height: 100%;
    border: none;
    color: #000;
    padding: 0;
  }

  .el-form-item__error {
    font-size: 12px;
  }

  .el-form-item {
    margin-bottom: vh(36);
  }

  .el-image__inner {
    vertical-align: middle;
  }

  .el-button {
    margin-left: 0;
    padding: vh(15) vw(20);
    border-radius: vw(4);
  }

  .top-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .main-form {
    z-index: 7;
    position: relative;
    .form-title {
      text-align: center;
      img {
        width: vw(26);
        height: vh(25);
      }
      p {
        height: vh(74);
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
        display: inline-block;
      }
    }
    .form-item {
      z-index: 8;
      margin: 0 auto;
      width: vw(517);
      height: vh(640);
      padding: vh(40) vw(40);

      .form-label {
        font-weight: 400;
        color: rgb(121, 138, 187);
        line-height: vh(22);
        margin-bottom: vh(14);
      }

      .inputContain {
        background: rgba(31, 29, 68, 0.3);
        border: 1px solid rgb(67, 63, 117);
        border-radius: vw(4);
        display: flex;
        height: vh(60);
        align-items: center;

        .svg-container {
          margin: 0 vw(15);
          img {
            width: vw(20);
            height: vh(26);
            background-size: 100% 100%;
            vertical-align: middle;
          }
        }

        .show-pwd {
          margin: 0 vw(15);
          color: #999;
        }

        .img-code {
          margin: 0 vw(10);
          width: vw(140);
          height: 95%;
          background-size: 100% 100%;
          cursor: pointer;
        }

        .getcodeBtn {
          height: 95%;
          background: #3c60f5;
          border: none;
        }
      }

      .btn {
        width: 100%;
      }

      .login-btn {
        margin: vh(30) 0;
        height: 40px;
        border: none;
        background-image: linear-gradient(
          to right,
          rgb(58, 95, 245),
          rgb(29, 12, 187)
        );
      }
    }
  }

  .register {
    text-align: right;
    color: rgb(121, 138, 187);
    cursor: pointer;
  }

  .foot-copyright {
    height: vh(60);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: vh(20);
    position: fixed;
    bottom: 24px;
  }
}
</style>
