<template>
  <div class="blank-app-wrap">
    <el-empty :image="bgImage" :image-size="600" :description="description" />
  </div>
</template>

<script>
/**
 * 空白页面，用来加载子应用虚拟路由
 */
export default {
  data() {
    return {
      bgImage: require("@/assets/img/layout/main-bg.png"),
    };
  },
  computed: {
    description() {
      const meta = this.$route.meta;
      return `正在加载${(meta && meta.title) || "微应用"}页面...`;
    },
  },
};
</script>

<style lang="scss">
.blank-app-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>